.chatMain{
    /*float: right;*/
    width: 69%;


    /*border: 2px solid #cfe04e;*/
}

.chatMessages{

    background-color: #ffffff;
    cursor: pointer;

    overflow: auto;
/*padding-bottom: 20px;*/
}


.sendComponent{
    display: flex;
    /*background-color: #3a6d99;*/
    height: 140px;
    padding-top: 10px;

}



.messageTextArea{
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    display: block;
    resize: none;
    width: 100%;
    max-width: 100%;
    border: 0;
    outline: none;
    box-shadow: 0 1px 0 0 #e8e8e8;
    padding: 1px 28px 1px 0;
    position: relative;
    margin: 0;
    min-height: 80px;
    /*height: 10vh;*/
    line-height: 20px;
    height: auto;
    box-sizing: border-box;
    /*margin-left: 60px;*/
} .messageTextArea:focus{
      box-shadow: 0 2px 0 0 #7fbaea;
  }
.divTextArea{
    /*background-color: #F2F2F2;*/
    display: inline-block;
    width: 100%;
}


.userPhoto {
    margin-left: 6px;
    float: left;
}


.userAvatarSend {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
}


.chatPhoto {
    margin-left: 6px;
    float: right;
}

.sendButton{
    color: #499dd9;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
} .sendButton:hover{
    color: #0d7cce;
  }

.messageBlock{
    display: flex;
    justify-content: space-between;

    line-height: 1.7;
    padding: 5px 6px 0px 10px;
}
.messageTime{
flex-grow: 0;
    padding-right: 10px;
}
.messageText{
flex-grow: 10000;
    padding-right: 15px;
    padding-left: 15px;
}



.userAvatarSmall{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
}
.userAvatarSmallDiv{
    min-width: 42px;
    width: 42px;
    max-height: 42px;

}

.unreadMarker{
margin: 8px 6px 0 -5px;
    border-radius: 10px;
    background-color: #6ba3e8;
    min-width: 10px;
    width: 10px;
    height: 10px;
}
.authorName{
    color: #3a6d99;
    font-weight: 500;
} .authorName:hover{
      text-decoration: underline;
  }